:root{

    --black: #000000;
    --blackligth: #102944;
    --bluedark: #096aab;
    --blue: #08b6ff;
    --aqua: #0efff9;
    --white:#ffffff;
    --pink:#00747C;
    --mono:'Ubuntu Mono', monospace;
    --sans:'Ubuntu', sans-serif;
}


*{
    margin: 0;
    padding: 0;
    font-family: var(--sans);
    box-sizing: border-box;

}
html {

    font-size: 1.5rem;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-color: var(--black);
    max-width: 1200px;
    margin:0 auto;

}

a {
    color: var(--aqua);
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: underline;
    color: var(--white);
}



/* seccion de navegacion */

#navegador{
    position: fixed;
    width: 100%;
    max-width: inherit;
}


header {

    display: flex;
    background-color: var(--black);
    font-size: 80%;
    align-content: center;
    justify-content: space-between;
    padding: 1rem;
}



nav  a {
    margin-left: 1rem;
}


#bars{
    display:none;
}


#check {
    display: none;
}


/* seccion de nombre */
img{
    border: 7px solid var(--aqua);
    border-radius: 3px;
    max-width: 60%;
    height: auto;
    display: block;
    margin: auto;

}
#intro{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    padding: 9rem 1rem 5rem;
    align-items: center;


}
#intro p{
    font-size: 1rem;
    line-height: 1.8rem;

}

#intro .name{
    font-size: 0.7rem;
    font-family: var(--mono);
}
.name span{
    font-family: var(--sans);
    font-size: 2rem;
    display: block;
    text-shadow: 2px 2px 4px black, 0 0 25px aqua, 0 0 5px darkblue;


}

#intro h2{
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--aqua);
}
.botton{
    background-color: var(--pink);
    color: var(--white);
    text-decoration: none;
    padding: 0.2rem;
    border-radius: 7px;
}
.botton:hover {
    background-color: var(--aqua);
    color:var(--pink);
}



@media (max-width: 750px) {

    #bars [class*="fa"]{
        font-size: 40px;
        color: var(--aqua);
        cursor: pointer;

    }

    #bars{
        display: block;
    }

    #check:checked ~ nav {
        display: block;

    }

    header {
        width: auto;
        margin: 0;
        padding: 1rem;
        flex-wrap: wrap;
        align-items: center;

    }

    header > a {
        display: inline;
    }

    nav {
        display: none;
        flex-basis: 100%;

    }

    nav > a {
        display: block;
        margin-left: 0;
        padding: 1em;
        text-align: center;
    }

    /*section name*/
    #intro{
        display: block;
        padding-top: 5rem ;


    }
    #intro div{
        padding-bottom: 50px;

    }
    #intro h2{
        font-size: 1.8rem;

    }

    .name span{
        font-size: 1.5rem;

    }

    #intro p{
        font-size: 0.7rem;
        line-height: 1.5rem;

    }





}
